@CHARSET "UTF-8";

body {
	font-size: 9pt; 
	text-align: center;
	
}

table {
	margin: auto;  /* 표를 가운데로 */
	font-size: 9pt;	
	/* border: 1pt solid white; */ 
	margin-bottom:20px;
}

tr {
	height: 30pt;
}

.thcolor {
	background-color: #FFE271;
}

.tdcolor {
	background-color: #FFF0B5;
}

select {
	font-size: 12pt; 
}

form {
	font-size: 12pt; 
}

p{
	font-weight: 700;
	
}

